bin/
build/
data/
htmlcov/
include/
js/
lib/
local/
man/
selenium/
share/
testreports/
var/

.coverage
.virtualenv
pip-selfcheck.json
coverage.xml
src/*.egg-info

*.pyc
*.pyo

# Files dumped by some stupid package.
COPYRIGHT
LICENSE
